.container {
    max-width: 400px;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0.5rem 0 1.5rem 0;
}

header h1 {
    margin: 0;
}

.flipped {
    transform: scale(-1, 1);
    display: inline-block;
}

header a {
    text-decoration: none;
    place-self: flex-start;
}

header .claim {
    flex-basis: 100%;
    font-size: medium;
}

main {
    padding-top: 1rem;
}
