.logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.logo h1 {
  margin: 0;
}

.flipped {
  transform: scale(-1, 1);
  display: inline-block;
}

.claim {
  font-size: var(--s1);
}

.language-switcher {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-content: end;
}
