header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: var(--big-gap) 0;
}

header h1 {
  margin: 0;
}

.flipped {
  transform: scale(-1, 1);
  display: inline-block;
}

.claim {
  font-size: var(--s1);
}
