.addButton {
  margin-top: var(--s1);
}

input:invalid {
  outline: var(--s-4) solid var(--error-color);
}

.validationMessage {
  padding: var(--small-gap) var(--medium-gap);
  background-color: var(--error-color);
  border-radius: var(--border-radius);
  color: var(--button-font-color);
}
