* {
  box-sizing: border-box;

}

p, article {
  line-height: 2rem;
  margin-top: 0;
}

:root {
  --primary-bg-color: #09693c;
  --bg-color: white;
  --button-color: black;
  --disabled-color: #ccc;
}

body {
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 0.5rem;
}

td {
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

input,
button {
  font-size: large;
  margin: 0.25rem 0 0.45rem 0;
  padding: 0.35rem 0.5rem;
}

button, input[type=submit] {
  border: 1px solid var(--primary-bg-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--button-color);
}

button.primary, input[type=submit].primary {
  background-color: var(--primary-bg-color);
  color: white;
  padding: 0.8rem 1rem;
  margin: 0.6rem 0;

}

button:disabled, input[type=submit]:disabled {
  border: none;
  background-color: var(--disabled-color);
}

input:invalid {
  border: medium solid red;
}

.full-width {
  width: 100%;
}

button:active, input[type=submit]:active {
  background-color: #0d8f52;
  color: white;
}

a {
  color: var(--primary-bg-color);
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

/* Thanks to https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
